/* styling for header */
.about-heading {
    text-align: center;
    margin-top: 0.4rem;
    margin-bottom: 3rem;
    font-size: 50px;
    background-color: gradient(#9a517a, #7e4b74);
}
/* styling for image */
.about-image {
    max-width: 100%;
    width: 200%;
    height: auto;
    margin-bottom: 20px;
}
/* font styling for text */
.card-text {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
text-justify: inter-word;
}
/* font styling for header */
.card-title {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}
/* styling for the about section container */
#about {
margin-bottom: 12rem;
}