.footer {
position: center;
bottom: 0;
width: 100%;
}

/* CSS for Old Devices Smaller than 320px (mobile) */
@media (max-width: 320px) {
.designer-text,
.copyright-text {
font-size: 8px;
}
}

/* CSS for screens between 321px and 575px (mobile) */
@media (min-width: 321px) and (max-width: 575px) {
.designer-text,
.copyright-text {
font-size: 12px;
}
}

/* CSS for screens between 576px and 992px (tablet) */
@media (min-width: 576px) and (max-width: 992px) {
.designer-text,
.copyright-text {
font-size: 14px;
}
}

/* CSS for screens greater than 992px (desktop) */
@media (min-width: 993px) {
.designer-text,
.copyright-text {
font-size: 16px;
}
}

.form-footer {
display: inline-block;
vertical-align: middle;
margin-bottom: 0;
padding: 5px;
}

.designer-text,
.copyright-text, 
.footer-container,
.footer {
align-content: center;
border: 0px;
margin: 0px;
padding: 0px;
}

.footerContainer {
display: flex;
flex-direction: column;
}

.icons {
margin: auto;
}

.icon {
width: 50px;
padding: 10px
}

/* bounce animation */
@keyframes bounce {
0%, 20%, 50%, 80%, 100% {
transform: translateY(0);
}
40% {
transform: translateY(-20px);
}
60% {
transform: translateY(-10px);
}
}


.icon {
animation: bounce 1s infinite;
}

.icon:hover {
background-color: transparent;
/* Animation for glowing ring */
position: relative;
overflow: hidden;
animation: glowing-ring 2s linear infinite;
}

@keyframes glowing-ring {
0% {
    box-shadow: 0 0 5px whitesmoke; /* Initial shadow */
}
50% {
    box-shadow: 0 0 20px 10px wheat; /* Max shadow (glow) */
}
100% {
    box-shadow: 0 0 5px 0 purple; /* Back to initial shadow */
}
}